div {
    padding-top: 3px;
  }
  
  .codeDEv {
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
  }
  
  .provider {
    width: 10%;
    float: left;
    padding: 20px;
  }
  
  .controller {
    width: 12%;
    float: left;
    padding: 20px;
  }
  
  .showing {
    width: 40%;
    float: left;
    padding: 20px;
    background-color: lightgrey;
    overflow-y: scroll !important;
    height: 40em;
  }
  
  .ads {}
  
  .maincode {
    display: block;
    overflow: auto;
  
  }
  
  code {
    color: black;
    background-color: lightgrey;
  }
  
  .code1 {
    width: 60%;
    overflow-wrap: break-word;
    display: block;
    white-space: p;
  }
  
  .data {
    color: blueviolet;
  }
  
